/* Generic Shit*/

.footer {
    bottom: 0;
    width: 100%;
    background-color: #101010;
    color: #ffffff;
}

.footer h5{
    padding: 20px 0;
    margin: 0;
}

.center {
     margin: 0 auto;
     display: block !important;
 }

div#page{
    margin: 0 20px;
}

div#content{
    min-height: 320px;
    margin: 20px 0;
}
/* Login Page */

input.center{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


#esqueci-minha-senha.center{
    margin: 10px auto;
    width: 140px;
}

#body-perfil{
    background-color: #001f3f;
}

#nav{
    border-radius: 0px; !important;
}

.CenterGroup{
    padding-top: 10px;
}

#form-cadastro h2 {
    text-align: center;
}

.livro-index p{
    margin: 0 0 2px;
}