/* Generic Shit*/

.footer {
    background-color: #101010;
    color: #ffffff;
}

.center {
     margin: 0 auto;
     display: block !important;
 }

div#page{
    margin: 0 20px;
}
/* Login Page */

input.center{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


#esqueci-minha-senha.center{
    margin: 10px auto;
    width: 140px;
}

#body-perfil{
    background-color: #d58512;

}
